* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
}

#nav h3 {
    background-color: black;
    color: wheat;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 50px;
    margin-left: 3px;
}

#intro {
    height: 40%;
    width: 100%;
    background-color: bisque;
    padding: 30px;
}


#intro h1 {
    font-size: 80px;
    letter-spacing: 1px;
    line-height: 70px;
}

#place {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

#place h3,
#place h4 {
    font-size: 25px;
    font-weight: 600;
}

#hero-image {
    height: 60%;
    width: 100%;
    background-color: orange;
    /* background-image: url(/DSC_07444.jpg);
    background-size: cover;
    background-position: center; */
}

#about {
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 50px;
}

#about h2 {
    width: 50%;
    font-size: 52px;
    line-height: 55px;
    letter-spacing: 2px;
    font-weight: 600;
}

#about-part2 {
    border-left: 2px solid black;
    padding: 0 50px;
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#about-part2 h3 {
    font-size: 30px;
    font-weight: 600;
}

#icons i {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 50px;
    font-size: 20px;
    margin-right: 5px;
}

#work {
    height: 50%;
    width: 100%;
    border-top: 2px solid black;
    padding: 40px 50px;
    display: flex;
    border-bottom: 2px solid black;
}

#work1 {
    width: 35%;
    height: 100%;
    border-right: 2px solid rgb(2, 2, 2);
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
}

#work h3 {
    font-size: 30px;
}

#work i {
    font-size: 30px;
}

#work2 {
    width: 70%;
    height: 100%;
    padding: 0 60px;
}

.work2-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}

.work2-part:nth-child(1) {
    border-bottom: 2px solid black;
}

.work2-part .elem {
    width: 50%;
    height: 100%;

}

.work2-part .elem :nth-child(1) {
    border-right: 2px solid black;
}

.work2-part .elem :nth-child(2) {
    padding-left: 60px;
}